.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about .left p{
    font-size: 1.3rem;
    padding: 0.5rem 0rem;
}

.about .left .btn {
    padding: 7px 23px;
    font-size: 1.2rem;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
    margin: 1.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 5p
}
.about .left .btn:hover{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    color: #000;
}
.about .right{
    margin: auto;
    padding: 1rem;
}
.img-sec img{
    height: 32rem;
    width: 32rem;
}

@media screen and (max-width:600px ){
    .about .left p{
        font-size: 1rem;
    }
    .img-sec img{
        height: 20rem;
        width: 20rem;
    } 
}
@media screen and (max-width:315px){
    .img-sec img{
        height: 11rem;
        width: 11rem;
    }
    
}

.about2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.about2 .left-down{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}
.about2 .right-down{
    margin: auto;
    padding: 1rem;
}
.right-down img{
    height: 32rem;
    width: 32rem;
}
.icon{
    font-size: 3rem;
    margin-top: 1rem;
}

@media screen and (max-width:600px ){
   
    .right-down img{
        height: 20rem;
        width: 20rem;
    } 
    .icon{
        font-size: 2rem;
    }
}

@media screen and (max-width:315px){
    .right-down img{
        height: 11rem;
        width: 11rem;
    }
    
}